.news {
  padding: 10px;
  background-color: #fff;
  overflow: hidden;
}
.news_title {
  font-size: 15px;
}
.news_item {
  height: 120px;
  padding: 15px 10px 15px 0;
  border-bottom: 1px solid #e5e5e5;
}
.news_item:last-child {
  border: 0;
}
.imgwrap {
  float: left;
  height: 90px;
  width: 120px;
}
.news_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
  padding-left: 12px;
}
.news_title {
  margin-bottom: 15px;
  font-size: 14px;
}
.news_info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #9c9fa1;
  font-size: 12px;
}