.root {
  padding-bottom: 50px;
  background-color: #f6f5f6;
}

/* 房屋基础信息 */
.info {
  padding: 15px;
  background: #fff;
}

.infoTitle {
  font-weight: normal;
  font-size: 16px;
  color: #333;
}

.tags {
  position: relative;
  margin: 10px 0;
}

.infoPrice {
  border-top: solid 1px #cecece;
  border-bottom: solid 1px #cecece;
  margin: 15px 0;
  padding: 15px 0;
}

.infoPriceItem {
  text-align: center;
  color: #999;
}

.infoPriceItem :global(div) {
  height: 26px;
  line-height: 26px;
}

.infoPriceItem :global(div:first-child) {
  color: #fa5741;
  font-size: 18px;
  font-weight: bolder;
}

.month {
  font-size: 12px;
  font-weight: normal;
}

.infoBasic {
  font-size: 13px;
}

.map {
  margin-top: 10px;
  background: #fff;
}

.mapTitle {
  margin: 0 3%;
  line-height: 44px;
  color: #666;
}

.mapTitle :global(span) {
  color: #333;
}

.mapContainer {
  height: 145px;
  text-align: center;
}

.mapArrow {
  background: url(http://map.baidu.com/fwmap/upload/r/map/fwmap/static/house/images/label.png)
    no-repeat;
  position: absolute;
  width: 11px;
  height: 10px;
  top: 23px;
  left: 10px;
  overflow: hidden;
}

.houseTitle {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 10px;
  padding: 15px 0;
  border-bottom: solid 1px #cecece;
}

.about {
  margin-bottom: 10px;
  padding: 0 10px;
  background: #fff;
}

.set {
  margin: 10px 0px;
  padding: 0 10px;
  line-height: 150%;
  background: #fff;
}

.titleEmpty {
  padding: 10px 0;
}

.contact {
  position: relative;
}

.user {
  margin-bottom: 10px;
  display: flex;
}

.user img {
  width: 52px;
  height: 52px;
  margin: 10px 10px 0 0;
}

.useInfo {
  padding: 15px 0 0 5px;
}

.userAuth {
  font-size: 12px;
  color: #fa5741;
}

.userAuth :global(.icon-auth) {
  margin-right: 5px;
}

.userMsg {
  position: absolute;
  right: 15px;
  top: 20px;
  color: #33be85;
  border: solid 1px #33be85;
  border-radius: 3px;
  padding: 3px 15px;
}

.descText {
  line-height: 1.6;
  padding: 10px 0;
  color: #333;
}

.recommend {
  margin: 10px 0 0 0;
  padding: 0 15px;
  background: #fff;
}

.items :global(div:last-child) {
  border-bottom: 0;
}

.favorite {
  margin-left: 6px;
}

.favoriteImg {
  width: 16px;
}

.telephone {
  color: #fff;
}
