.nav {
  .navgation {
    position: fixed;
    width: 100%;
    background: none;
    color: white;
    .adm-nav-bar {
      --border-bottom: none;
    }
    .icon-share {
      font-size: 24px;
    }
  }
  &.active {
    .navgation {
      color: var(--adm-color-text);
      .adm-nav-bar {
        --border-bottom: 1px solid var(--adm-color-border);
      }
    }
  }
}

.adm-grid .adm-grid-item:first-child {
  border-right: solid 1px #e8e8e9;
}

.adm-grid .adm-grid-item:last-child {
  border-right: solid 1px #e8e8e9;
  background-color: #21b97a;
}